<button class="element-design component closed">
	<div class="content-wrapper">
		<p>HTML/CSS Styles</p>
	</div>
	<div role="none" class="float-button">
		<div tabindex="-1" class="float-button-content">
			<div class="BgaIcon iconAnimateWrapper "><svg width="16" height="16">
					<path fill-rule="evenodd" d="M8 9.028L1.982 3 0 4.986 8 13l8-8.014L14.018 3z"></path>
				</svg></div><span class="sr-only">Button toggle current accordion</span>
		</div>
	</div>
</button>

<div class="element-code {{include.componentName}}-code">

	<div class="col-sm-12 tabs-component">
		<!-- Tabs -->
		<div class="row">
			<div class="c-wrapper c-wrapper-bg-transparent container-fluid">
				<div class="body-copy col-sm-12 col-md-12">
					{% if include.comingSoon %}
					<ul class="nav nav-tabs coming-soon">
						{% else %}
						<ul class="nav nav-tabs">
							{% endif %}
							<li class="nav-item html-tab"><a class="nav-link active" data-toggle="tab" href="html-section">HTML</a>
							</li>
							<li class="nav-item css-tab"><a class="nav-link" data-toggle="tab" href="css-section">CSS</a>
							</li>
						</ul>
				</div>
			</div>
		</div>
		<!-- Tab Content -->
		<div class="tab-content-container">
			<!-- HTML -->
			{% if include.comingSoon %}
			<div class="tab-section html-section" style="display: none;">
				{% else %}
				<div class="tab-section html-section">
					{% endif %}
					<button class="copy-code-text copy-code-button">
						Copy html
						<span class="copy-code-svg">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 89.458 103.583">
								<path d="M67.917,1h-56.5A9.444,9.444,0,0,0,2,10.417V76.333h9.417V10.417h56.5ZM82.042,19.833H30.25a9.444,9.444,0,0,0-9.417,9.417V95.167a9.444,9.444,0,0,0,9.417,9.417H82.042a9.444,9.444,0,0,0,9.417-9.417V29.25A9.444,9.444,0,0,0,82.042,19.833Zm0,75.333H30.25V29.25H82.042Z" transform="translate(-2 -1)" fill="#ffffff"></path>
							</svg>
						</span>
					</button>
					<div class="html-code">
						<code>
							<pre>

							</pre>
						</code>
					</div>
				</div>
				<!-- CSS -->
				{% if include.comingSoon %}
				<div class="tab-section css-section">
					{% else %}
					<div class="tab-section css-section" style="display: none;">
						{% endif %}
						<button class="copy-code-text copy-code-button">
							Copy css
							<span class="copy-code-svg">
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 89.458 103.583">
									<path d="M67.917,1h-56.5A9.444,9.444,0,0,0,2,10.417V76.333h9.417V10.417h56.5ZM82.042,19.833H30.25a9.444,9.444,0,0,0-9.417,9.417V95.167a9.444,9.444,0,0,0,9.417,9.417H82.042a9.444,9.444,0,0,0,9.417-9.417V29.25A9.444,9.444,0,0,0,82.042,19.833Zm0,75.333H30.25V29.25H82.042Z" transform="translate(-2 -1)" fill="#ffffff"></path>
								</svg>
							</span>

						</button>
						<div class="css-code">
						</div>
					</div>
				</div>
			</div>
		</div>
