/*  CHECKLIST PATTERN  */

// Checklist items & email button
.checklist-wrapper {
    
    // NEWER VERSION
    &.new {
        position: relative;
        padding-top: 0;
        
        #email-btn-wrapper {
            background: $yellow-secondary-lightest url("../assets/Icon-link.svg") no-repeat;
            background-position: left 24px center;
            border-radius: 6px;
            border: 2px solid $yellow-secondary-light;
            height: 60px;
            width: auto;
            text-align: center;
            padding: 16px 16px 16px 48px;
            position: absolute;
            bottom: 0;
            top: 32px;
            right: -224px;
            width: 200px;
            box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
            cursor: pointer;
            z-index: 450;
            
            &:hover {
                background: #FFD00A url("../assets/Icon-link.svg") no-repeat;
                border: 2px solid $yellow-secondary-mid;
                background-position: left 24px center;
            }
            &:active {
                background: #EDC000 url("../assets/Icon-link.svg") no-repeat;
                border: 2px solid $yellow-secondary;
                background-position: left 24px center;
            }
              
            .email-btn {
                display: block;
                font-size: 16px;
                @include font-format($font-family, $font-semibold, normal);
                line-height: 1.5rem;
                opacity: 1;
            }

        }
       
        .email-box-container {
            background: $grey-lighter;
            padding: 24px;
            border-top: 4px solid $grey-light;
            position: relative;
            width: 248px;
            margin: 0 auto;
            
            p {
               padding-bottom: 0; 
            }

            #email-btn-wrapper.email-btn-wrapper-2,
            #email-btn-wrapper-2.email-btn-wrapper-2{
                display: block;
                margin-top: 24px;
                position: relative;
                top: auto;
                right: auto;
                cursor: pointer;
            }
        }
        #clear-progress {
            width: 248px;
            margin: 0 auto;
            a {
                color: #254F90;
                font-size: 16px;
                line-height: 28px;
                text-decoration: none;
                box-shadow: none;
                border-bottom: solid 2px #748FB8;
                margin-top: 16px;
                padding-right: 24px;
                display: inline-block;
                position: relative;
                
                span {
                    height: 16px;
                    width: 16px;
                    display: inline-block;
                    background: url('../assets/BGAIcon-clear-blue.svg') no-repeat;
                    margin-left: 8px;
                    position: absolute;
                    top: 6px;
                    right: 0;
                }
                
                &:focus {
                    box-shadow: none;
                    border: 0.0625rem dotted #748fb8;
                    border-bottom: solid 2px #748FB8;
                    outline: none;
                }
                &:hover {
                    color: #254F90;
                    box-shadow: inset 0 -24px 0 #DDEEFF;
                    border-bottom: none;
                    text-decoration: none;
                }
                &:active {
                    color: #000000;
                    box-shadow: none;
                    border-bottom: solid 2px #748FB8;
                }
            }
        }
        


        .checklist-line {
            height: calc(100% - 115px);
            width: 3px;
            background: $grey;
            display: block;
            z-index: 0;
            position: absolute;
            margin: 48px 0 0 24px;

        }
        
        .checklist-item {

            .checklist-item-title {
                
                background: $white url("../assets/Icon-chevron-down-blue.svg") no-repeat;
                background-position: right 32px center;
                position: relative;
                padding: 32px 84px 32px 32px;
                margin-left: 48px;
                cursor: pointer;

                h2 {
                    margin: 0;
                    padding: 0;
                    font-size: 26px;

                    span {
                        position: absolute;
                        top: 28px;
                        left: -48px;
                        border-radius: 50%;
                        border: 3px solid $grey;
                        height: 48px;
                        width: 48px;
                        text-align: center;
                        line-height: 38px;
                        z-index: 100;
                        background: $white;
                    }
                }
                &:hover {
                    h2 {
                        text-decoration: underline;
                    }
                    background: url("../assets/Icon-chevron-down-hover-grey.svg") no-repeat;
                    background-position: right 24px center;
                    background-size: 36px 36px;  
                }
                &:active {
                    background: url("../assets/Icon-chevron-down-active-grey.svg") no-repeat;
                    background-position: right 24px center;
                    background-size: 36px 36px; 
                }
            }

            &:last-of-type {
                .checklist-sub-item:last-of-type {
                    &:after {
                        content: " ";
                        height: calc(100% - 32px);
                        width: 5px;
                        background: $white;
                        position: absolute;
                        z-index: 10;
                        top: 40px;
                        left: -56px;
                    }
                }
            }

            .checklist-sub-item-wrapper {
                display: none;
                margin-left: 48px;

                .checklist-close-step-wrapper {
                    text-align: right;

                    .checklist-close-step {
                        margin-bottom: 32px;
                        display: inline-block;
                        text-decoration: underline;
                        color: $blue-primary;
                        padding-left: 24px;
                        background: url('../assets/Icon-cross-blue.svg') no-repeat;
                        background-size: 16px 16px;
                        background-position: left center;
                        cursor: pointer;
                        @include font-format($font-family, $font-semibold, normal);
                    }
                }
            }

            .checklist-sub-item {
                position: relative;
                margin-left: 32px;

                &:before {
                    content: url('../assets/checklist-grey-dot.svg');
                    position: absolute;
                    z-index: 100;
                    left: -67px;
                    height: 100%;
                    top: 32px;
                }

                .checklist-item-content {
                    background: #E5EDF7;
                    padding: 16px 32px 32px 32px;
                    
                    position: relative;

                    h3 {
                        padding-right: 120px;
                    }
                    a {
                        color: $blue-primary;
                        box-shadow: none;
                        border-bottom: 2px solid $blue-hyperlink;
                        
                       
                        &:hover {
                            text-decoration: none;
                            box-shadow: $grey-light 0px -20px 0px 0px inset;
                        }
                        &:active {
                            color: $black;
                        }
                    }
                    p:last-of-type {
                        padding-bottom: 0;
                    }


                    .checklist-item-tag {
                        position: absolute;
                        top: 32px;
                        right: 32px;
                        font-size: 14px;
                        border: solid 2px $blue-primary;
                        border-radius: 20px;
                        padding: 2px 15px;
                        display: inline-block;

                        &.optional {
                            border: solid 2px $blue-primary;
                        }

                        &.required {
                            display: none
                        }
                    }
                    
                }

                .checklist-item-checkbox {
                    padding: 16px 32px;
                    background: #BAC8DB url("../assets/checkbox-unchecked.svg") no-repeat;
                    background-position: left 32px center;

                    input[type="checkbox"] {
                        opacity: 0;
                        width: 28px !important;
                        height: 28px !important;
                        cursor: pointer;
                    }

                    label {
                        padding-left: 6px;
                    }
                }

                &.done {
                    .checklist-item-checkbox {
                        background: #B7DDB7 url("../assets/checkbox-checked.svg") no-repeat;
                        background-position: left 32px center;
                    }

                    &:before {
                        content: url('../assets/checklist-grey-dot-checked.svg');
                        position: absolute;
                        z-index: 100;
                        left: -67px;
                        top: 32px;
                        height: 100%;
                    }
                }
                
                &.tip {
                    &:before {
                    content: ' ';
                    
                }
                    .checklist-item-content {
                        background: $grey-lighter;
                    }
                }
            }

            .checklist-item-divider {
                border-top: 2px solid $grey;
                width: calc(100% - 80px);
                margin: 0 0 0 80px;
                padding: 0;
            }

            &.open {
                &:last-of-type {
                    .checklist-item-title:before {
                        height: 100%;
                    }
                }

                .checklist-item-title {
                    background: $white url("../assets/Icon-chevron-up-blue.svg") no-repeat;
                    background-position: right 32px center;
                    border: none;

                    h2 {
                        span {
                            background: $blue-primary;
                            border: 3px solid $blue-primary;
                            color: $white;
                        }
                    }
                    &:hover {
                        h2 {
                            text-decoration: underline;
                        }
                        background: url("../assets/Icon-chevron-up-hover-grey.svg") no-repeat;
                        background-position: right 24px center;
                        background-size: 36px 36px;  
                    }
                    &:active {
                        background: url("../assets/Icon-chevron-up-active-grey.svg") no-repeat;
                        background-position: right 24px center;
                        background-size: 36px 36px; 
                    }
                }

                .checklist-sub-item-wrapper {
                    display: block;

                }
            }

            &.item-done {
                .checklist-item-title {
                    h2 {
                        span {
                            background: $green-positive-dark url("../assets/Icon-tick-white.svg") no-repeat;
                            background-position: center center;
                            background-size: 20px 16px;
                            border: 3px solid $green-positive-dark;
                            color: $white;
                            text-indent: -9999px;
                        }
                    }
                }
            }

            // VERSION WITH MINIMISED STEPS
            .checklist-sub-item-wrapper.step-minimised {

                .checklist-sub-item {
                    margin-bottom: 16px;

                    &:last-of-type {
                        margin-bottom: 32px;
                    }

                    .checklist-sub-item-title {
                        background: #E5EDF7 url("../assets/Icon-chevron-down-blue.svg") no-repeat;
                        background-position: right 32px center;
                        padding: 24px 180px 24px 32px;
                        margin-bottom: 0;
                        position: relative;
                        cursor: pointer;
                        
                        &:hover {
                            background: #E5EDF7 url("../assets/Icon-chevron-down-hover-white.svg") no-repeat;
                            background-position: right 24px center;
                            background-size: 36px 36px;
                            
                            h3 {
                                text-decoration: underline;
                            }
                        }
                        &:active {
                            background: #E5EDF7 url("../assets/Icon-chevron-down-active-white.svg") no-repeat;
                            background-position: right 24px center;
                            background-size: 36px 36px; 
                        }

                        .checklist-item-tag {
                            position: absolute;
                            top: calc(50% - 14px);
                            right: 68px;
                            font-size: 13px;
                            border: solid 2px $blue-primary;
                            border-radius: 20px;
                            padding: 0 10px;
                            display: inline-block;
                            height: 28px;

                            &.optional {
                                border: solid 2px $blue-primary;
                            }

                            &.required {
                                display: none;
                            }
                        }

                        h3 {
                            margin-bottom: 0;
                            padding-bottom: 0;
                        }
                    }
                    

                    .content-wrapper {
                        padding-right: 0;
                        display: none;
                        
                        p {
                            text-align: left;
                        }
                    }

                    &.open {
                        .checklist-sub-item-title {
                            margin-bottom: 0;
                            background: #E5EDF7 url("../assets/Icon-chevron-up-blue.svg") no-repeat;
                            background-position: right 32px center;
                            
                            &:hover {
                                 h3 {
                                     text-decoration: underline;
                                 }

                                 background: #E5EDF7 url("../assets/Icon-chevron-up-hover-white.svg") no-repeat;
                                 background-position: right 24px center;
                                 background-size: 36px 36px;
                             }

                             &:active {
                                 background: #E5EDF7 url("../assets/Icon-chevron-up-active-white.svg") no-repeat;
                                 background-position: right 24px center;
                                 background-size: 36px 36px;
                             }
                        }
                    }
                    &.tip {
                        
                        border:none;
                        
                        .checklist-sub-item-title {
                            background: $grey-lighter url("../assets/Icon-chevron-down-blue.svg") no-repeat;
                            background-position: right 32px center;
                            
                            h3 {
                                padding-left: 44px;
                                padding-bottom: 0;
                                
                                span {
                                    height: 32px;
                                    width: 24px;
                                    display: block;
                                    position: absolute;
                                    left: 32px;
                                    top: calc(50% - 16px);
                                    background: url('../assets/icon-lightbulb-blue.svg') no-repeat;
                                    background-position: center center;
                                }
                            }
                            
                            &:hover {
                                 h3 {
                                     text-decoration: underline;
                                 }

                                 background: $grey-lighter url("../assets/Icon-chevron-down-hover-white.svg") no-repeat;
                                 background-position: right 24px center;
                                 background-size: 36px 36px;
                             }

                             &:active {
                                 background: $grey-lighter url("../assets/Icon-chevron-down-active-white.svg") no-repeat;
                                 background-position: right 24px center;
                                 background-size: 36px 36px;
                             }
                        }
                        &.open {
                                .checklist-sub-item-title {
                                    background: $grey-lighter url("../assets/Icon-chevron-up-blue.svg") no-repeat;
                                    background-position: right 32px center;
                                    
                                     &:hover {
                                        h3 {
                                            text-decoration: underline;
                                        }
                                        background: $grey-lighter url("../assets/Icon-chevron-up-hover-white.svg") no-repeat;
                                        background-position: right 24px center;
                                        background-size: 36px 36px;  
                                    }
                                    &:active {
                                        background: $grey-lighter url("../assets/Icon-chevron-up-active-white.svg") no-repeat;
                                        background-position: right 24px center;
                                        background-size: 36px 36px; 
                                    }
                                }
                            }
                    }
                }
            }
        }
        
        // Media queries
        @media (max-width: 991px) {

            &.mobile {
                padding-top: 0;
            }
            .checklist-line {
                 width: 2px;
                 margin: 48px 0 0 8px;
             }
            .checklist-item {
               
                .checklist-item-title {
                    padding: 24px 38px 24px 16px;
                    margin-left: 40px;

                    h2 {
                        font-size: 24px;

                        span {
                            top: 20px;
                            left: -48px;
                            border: 3px solid $grey;
                            height: 36px;
                            width: 36px;
                            line-height: 1.9rem;
                        }
                    }
                }
                &:last-of-type {
                    .checklist-sub-item:last-of-type {
                        &:after {
                            left: -48px;
                        }
                    }
                }
                
                .checklist-sub-item-wrapper {
                    margin-left: 24px; 
                }
                
                .checklist-sub-item {
                    
                    &:before {
                        left: -59px;
                        top: 26px;
                    }
                    .checklist-sub-item-title {
                        padding-left: 24px !important;
                    }
                    .checklist-item-content {
                        padding: 16px 24px 24px 24px;

                        h3 {
                            padding-right: 0;
                            width: 100%;
                        }

                        .checklist-item-tag {
                            position: relative;
                            top: auto;
                            right: auto;
                            font-size: 13px;
                            border: solid 2px $blue-primary;
                            border-radius: 20px;
                            padding: 0 16px;
                            margin: 0 0 16px 0;
                            display: inline-block;
                            height: 28px;
                        }
                    }
                    &.done {
                        &:before {
                            content: url('../assets/checklist-grey-dot-checked.svg');
                            left: -59px;   
                        }
                    }
                                    }
                
                .checklist-item-divider {
                    border-top: 2px solid $grey;
                    width: calc(100% - 56px);
                    margin: 0 0 0 56px;
                }
            }  
        }
        
        @media (max-width: 767px) {
            
            .checklist-line {
                width: 2px;
                margin: 48px 0 0 8px;
                height: calc(100% - 130px);    
            }
            
            .checklist-item {
                .checklist-item-title {

                    background-position: right 24px center !important;
                    padding: 24px 54px 24px 16px;
                    
                    &:hover, 
                    &:active {
                        background-position: right 15px center !important;
                    }

                    h2 {
                        font-size: 20px;
                        font-size: 20px;
                    }
                }

                &:last-of-type {
                    .checklist-sub-item:last-of-type {
                        &:after {
                            left: -48px;
                        }
                    }
                }
                .checklist-sub-item-wrapper.step-minimised {

                    .checklist-sub-item {
                        
                        &:before {
                            top: 18px;
                        }
                        .checklist-sub-item-title {
                            padding: 16px 64px 16px 16px !important;
                            background-position: right 24px center !important;
                            
                            &:hover, 
                            &:active {
                                background-position: right 15px center !important;
                            }
                            
                            h3 {
                                font-size: 18px; 
                            }

                            .checklist-item-tag {
                                position: absolute;
                                bottom: -24px;
                                right: auto;
                                top: auto;
                                left: 24px;
                                width: 85px;
                                text-align: center;
                                z-index: 200;
                                opacity: 0;
                                transition: opacity .6s ease;
                            }
                        }
                        .checklist-item-checkbox {
                            padding: 8px 16px;
                            background-position: left 16px center;

                            label {
                                margin-left: 6px;
                            }
                        }
                        &.done {
                            .checklist-item-checkbox {
                                .checklist-item-checkbox {
                                    background-position: left 16px center;
                                }
                            }
                        }
                        
                        .checklist-item-content {
                            padding: 16px;
                        }
                        &.open { 
                            .checklist-sub-item-title {
                                
                                .checklist-item-tag {
                                    opacity: 1;
                                }
                            }
                        }
                        
                        &.tip {
                            .checklist-sub-item-title {
                                h3 {
                                    padding-left: 34px;

                                    span {
                                        height: 22px;
                                        width: 16px;
                                        background-size: 16px 22px;
                                        left: 16px;
                                        top: 18px;
                                    }
                                }   
                            }
                            .checklist-item-content {
                                padding: 8px 24px 24px 24px;
                            }
                        }
                        
                    }
                }
                
                 &.open {
                    .checklist-item-title {
                        background-position: right 15px center;
                        padding: 24px 56px 24px 16px;    
                    }
                }
            }
        }
        
        @media (max-width: 575px) {
            .checklist-item {
                .checklist-sub-item-wrapper.step-minimised {
                    .checklist-sub-item {
                        &.tip {
                            .checklist-sub-item-title {
                                h3 {
                                    padding-left: 24px;

                                    span {
                                        height: 22px;
                                        width: 16px;
                                        background-size: 16px 22px;
                                        left: 24px;
                                        top: 18px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            #email-btn-wrapper-mobile-chat {
                left: 5px;
            }
            }
           
    }
    
    
    // LIGHTWEIGHT VERSION
    
    &.lightweight {

        position: relative;
        padding-top: 0;
        margin-bottom: 32px;

        .checklist-expand-all {
            margin-right: 24px;
            position: relative;
            min-height: 36px;

            .checklist-group-toggle-content {
                max-width: 96px;
                position: absolute;
                top: 0;
                right: 0;

                h5 {
                    display: inline-block;
                    color: $grey-darker;
                    text-decoration: none;
                    margin: 0;
                    padding: 0;
                }
                .BgaIcon {
                    display: inline-block;
                    margin-left: 8px;
                }
                &:hover,
                    &:focus {
                        border-bottom: solid #666666 2px;
                    }    
            }    
        }


        .checklist-line {
            height: calc(100% - 115px);
            width: 3px;
            background: $grey;
            display: block;
            z-index: 0;
            position: absolute;
            margin: 48px 0 0 24px;
        }

        .checklist-item-divider {
                border-top: 2px solid $grey;
                width: calc(100% - 96px);
                margin: 16px 0 16px 80px;
                padding: 0;
            }


        .checklist-item {
            position: relative;
            
            .checklist-item-title {
                background: $white url("../assets/Icon-chevron-down-blue.svg") no-repeat;
                background-position: right 24px center;
                background-size: 20px 12.5px;
                position: relative;
                padding: 24px 68px 24px 24px;
                margin-left: 64px;
                cursor: pointer;

                h2 {
                    margin: 0;
                    padding: 0;
                    font-size: 26px;

                    span {
                        position: absolute;
                        top: 20px;
                        left: -64px;
                        border-radius: 50%;
                        border: 3px solid $grey;
                        height: 48px;
                        width: 48px;
                        text-align: center;
                        line-height: 38px;
                        z-index: 100;
                        background: $white;
                    }
                }
                &:hover {
                    h2 {
                        text-decoration: underline;
                    }
                    background: url("../assets/Icon-chevron-down-hover-grey.svg") no-repeat;
                    background-position: right 16px center;
                    background-size: 36px 36px;  
                }
                &:active {
                    background: url("../assets/Icon-chevron-down-active-grey.svg") no-repeat;
                    background-position: right 16px center;
                    background-size: 36px 36px; 
                }
            }
            .checklist-sub-item-wrapper {
                display: none;
                margin-left: 48px;
                
                .content-wrapper {
                    padding-right: 0 !important;
                }
            }

            .checklist-sub-item {
                position: relative;
                margin-left: 16px;

                .checklist-item-content {
                    background: #E5EDF7;
                    padding: 16px 24px 32px 24px;
                    position: relative;
                    display: block;

                    h3 {
                        padding-right: 120px;
                    }
                    ul {
                        margin-left: 16px; 
                    }
                    a {
                        color: $blue-primary;
                        box-shadow: none;
                        border-bottom: 2px solid $blue-hyperlink;


                        &:hover {
                            text-decoration: none;
                            box-shadow: $grey-light 0px -20px 0px 0px inset;
                        }
                        &:active {
                            color: $black;
                        }
                    }
                    .feature-box {
                        height: auto;
                        border-top: none;
                        background: none;
                        padding: 32px;
                        margin-bottom: 32px;
                        border-top: 4px solid $yellow-secondary-mid;
                        background: #FFF7DF;

                         > *:last-child {
                            padding-bottom: 0;
                            margin-bottom: 0;

                            li:last-of-type {
                                padding-bottom: 0;
                                margin-bottom: 0;
                            }
                        }
                        .feature-box-title {
                            display: flex;
                            margin-bottom: 32px;

                            h3 {
                                padding: 8px 0 0 0 !important;  
                            }
                        }
                        .feature-icon {
                            height: 56px;

                            svg {
                                width: 56px;
                                height: 56px;
                                margin-right: 16px;
                            }
                        }
                    }
                    .inline-pathway-group {
                         .inline-pathway-card:last-of-type {
                            margin-bottom: 32px;
                        }
                    }
                    .inline-pathway-card {
                        display: block;
                        width: 100%;
                        transition-property: transform, -webkit-transform;
                        transition-duration: 0.4s, 0.4s;
                        transition-timing-function: ease, ease;
                        transition-delay: 0s, 0s;
                        background: #F6F9FC;
                        padding: 24px;
                        border: none;
                        border-top: 4px solid #b3c2d8;
                        font-family: "Open Sans", sans-serif;
                        text-decoration: none !important;
                        box-shadow: none;
                        color: #333333;

                        &:hover {
                            background: #D5E2F2;
                            background: $white;
                            box-shadow: none;
                        }
                        .description {
                            margin: 0;
                            padding: 0 0 16px 0;
                            font-size: 16px;
                            line-height: 28px;
                            color: #254F90;
                            font-weight: 600;
                            text-decoration: underline;
                        }
                         .link-container {
                            position: relative;
                            display: flex;
                        }
                        .link-text {
                            font-size: 12px;
                            line-height: 24px;
                            text-transform: uppercase;
                            text-decoration: none;
                            margin: 0 0 0 8px;
                            padding: 0;
                            color: #333333;
                            @include font-format($font-family, $font-regular, normal);
                        }
                        .link-container .link-icon {
                            height: 16px;
                            width: 16px;
                            line-height: 1.3;

                            svg {
                                fill: #254f90;
                            }
                        }
                        
                       
                    }
                    
                    .inline-pathway-card:hover,
                    .inline-pathway-card:focus {
                        .inline-pathway-card-content {
                            transform: translateX(1rem);
                        }
                        .description {
                            text-decoration: underline;
                        }
                        .link-text {
                            text-decoration: none;
                        }
                    }
                    
                    // Remove padding from last element of content box
                    > *:last-child {
                        padding-bottom: 0;
                        margin-bottom: 0;
                    }
                    > *:last-child li:last-of-type {
                        padding-bottom: 0;
                        margin-bottom: 0;
                    }
                    > *:last-child .inline-pathway-card:last-of-type {
                        margin-bottom: 0;
                    }
                }

                .checklist-item-checkbox {
                    padding: 24px;
                    background: #bac8db;
                    line-height: 1 !important;

                    .checkbox-icon {
                        display: inline-block;
                    }
                    .displaynone {
                        display: none;
                    }
                    input[type="checkbox"] {
                        opacity: 0;
                        width: 28px !important;
                        height: 28px !important;
                        cursor: pointer;
                        display: none;
                    }
                    label {
                        padding: 0 0 0 6px;
                        display: inline;
                        font-weight: normal;
                    }
                    .close-item {
                        height: 20px;
                        btn {
                            display: flex;
                            align-items: center;
                            height: 20px;
                            
                            &:hover {
                                cursor: pointer;
                            }
                        }
                        svg {
                            margin-right: 8px;
                        }
                        p {
                            margin: 0;
                            padding: 0;
                        }
                    }
                }            
            }


            &.open {
                &:last-of-type {
                    .checklist-item-title:before {
                        height: 100%;  
                    }
                }

                .checklist-item-title {
                    background: #E5EDF7 url("../assets/Icon-chevron-up-blue.svg") no-repeat;
                    background-position: right 24px center;
                    border: none;

                    h2 {
                        span {
                            background: $blue-primary;
                            border: 3px solid $blue-primary;
                            color: $white;
                        }
                    }
                    &:hover {
                        h2 {
                            text-decoration: underline;
                        }
                        background: #E5EDF7 url("../assets/Icon-chevron-up-hover-white.svg") no-repeat;
                        background-position: right 16px center;
                        background-size: 36px 36px;  
                    }
                    &:active {
                        background: #E5EDF7 url("../assets/Icon-chevron-up-hover-white.svg") no-repeat;
                        background-position: right 16px center;
                        background-size: 36px 36px; 
                    }
                }

                .checklist-sub-item-wrapper {
                    display: block;
                }
            }
        }
        
        .line-end {
            height: 100%;
            width: 5px;
            background: $white;
            position: absolute;
            z-index: 10;
            top: 48px;
            left: 22px;
        }
    }
}

//Toggle mobile desktop states -standard checklist
.example-wrapper {
    .checklist-container {
        img.mobile-example {
            display: none;
        }
        img.desktop-example {
            display: block;
        }
    }
    &.mobile-example .checklist-container {
        img.mobile-example {
            display: block;
        }
        img.desktop-example {
            display: none;
        }
            
        .checklist-item {
               
            .checklist-item-title {
                background-position: right 24px center;
                padding: 24px 64px 24px 16px;
                margin-left: 40px;

                h2 {
                    font-size: 20px;

                    span {
                        top: 20px;
                        left: -48px;
                        border: 3px solid $grey;
                        height: 36px;
                        width: 36px;
                        line-height: 1.9rem;
                    }
                }
                &:hover, 
                &:active {
                    background-position: right 15px center !important;
                }
            }

            &:last-of-type {
                .checklist-sub-item:last-of-type {
                    &:after {
                        left: -48px;
                    }
                }
            }

            .checklist-sub-item-wrapper.step-minimised {

                .checklist-sub-item {

                    &:before {
                        top: 18px;
                    }
                    .checklist-sub-item-title {
                        padding: 16px 64px 16px 16px !important;
                        background-position: right 24px center;
                        
                        &:hover, 
                        &:active {
                            background-position: right 15px center !important;
                        }

                        h3 {
                            font-size: 18px;
                            line-height: 1.4rem;
                        }

                        .checklist-item-tag {
                            position: absolute;
                            bottom: -24px;
                            right: auto;
                            top: auto;
                            left: 24px;
                            width: 85px;
                            text-align: center;
                            z-index: 200;
                            opacity: 0;
                            transition: opacity .6s ease;
                        }
                    }
                    .checklist-item-checkbox {
                        padding: 8px 16px;
                        background-position: left 16px center;

                        label {
                            margin-left: 6px;
                        }
                    }
                    &.done {
                        .checklist-item-checkbox {
                            .checklist-item-checkbox {
                                background-position: left 16px center;
                            }
                        }
                    }


                    .checklist-item-content {
                        padding: 16px;
                    }
                    &.open { 
                        .checklist-sub-item-title {

                            .checklist-item-tag {
                                opacity: 1;
                            }
                        }
                    }

                    &.tip {
                        .checklist-sub-item-title {
                            
                            &:hover, 
                            &:active {
                                background-position: right 15px center !important;
                            }
                            
                            h3 {
                                padding-left: 24px;

                                span {
                                    height: 22px;
                                    width: 16px;
                                    background-size: 16px 22px;
                                    left: 16px;
                                    top: 18px;
                                }
                            }
                        }
                        &.open {
                            .checklist-sub-item-title {
                                background-position: right 24px center;
                            }
                        }

                        .checklist-item-content {
                            padding: 8px 24px 24px 24px;
                        }
                    }
                }
            }

            .checklist-sub-item-wrapper {
                margin-left: 24px; 
            }

            .checklist-sub-item {

                &:before {
                    left: -59px;
                    top: 26px;
                }
                .checklist-sub-item-title {
                    padding-left: 16px;
                }
                .checklist-item-content {
                    padding: 16px 24px 24px 24px;

                    h3 {
                        padding-right: 0;
                        width: 100%;
                    }

                    .checklist-item-tag {
                        position: relative;
                        top: auto;
                        right: auto;
                        font-size: 13px;
                        border: solid 2px $blue-primary;
                        border-radius: 20px;
                        padding: 0 16px;
                        margin: 0 0 16px 0;
                        display: inline-block;
                        height: 28px;
                    }
                }
                &.done {
                    &:before {
                        content: url('../assets/checklist-grey-dot-checked.svg');
                        left: -59px;   
                    }
                }
            }

            &.open {
                .checklist-item-title {
                    background-position: right 24px center;
                    padding: 24px 56px 24px 16px; 

                    h2 span {
                        border: 3px solid $blue-primary;
                    }
                }
            }

            &.item-done {
                .checklist-item-title {
                    h2 span {
                        border: 3px solid $green-positive-dark !important;
                    }
                }
            }

            .checklist-item-divider {
                border-top: 2px solid $grey;
                width: calc(100% - 56px);
                margin: 0 0 0 56px;
            }
        }  

        .checklist-line {
            width: 2px;
            margin: 48px 0 0 8px;
            height: calc(100% - 100px);
        }
        
        .email-box-container {
            border: none;
            padding: 5px;
            height: 60px;
            
            .email-intro {
                display: none;
            }
            #email-btn-wrapper {
                border: 2px solid #F5C550;
                height: 48px;
                background: #FFD964;
                padding: 6px 24px;
                text-align: center;
                width: 100%;
                margin: 0;
                .email-btn {
                    line-height: 1.8rem;
                }
            }
        }
        
        #clear-progress {
            display: none;
        }
        
    }
    
 
}
@media (max-width: 650px) {
    .example-wrapper {
        .checklist-container {
            img.mobile-example {
                display: block;
            }
            img.desktop-example {
                display: none;
            }
            
        .checklist-item {
               
            .checklist-item-title {
                background-position: right 24px center;
                padding: 24px 64px 24px 16px;
                margin-left: 40px;
                
                &:hover, 
                &:active {
                    background-position: right 15px center !important;
                }

                h2 {
                    font-size: 20px;

                    span {
                        top: 20px;
                        left: -48px;
                        border: 3px solid $grey;
                        height: 36px;
                        width: 36px;
                        line-height: 1.9rem;
                    }
                }
            }

            &:last-of-type {
                .checklist-sub-item:last-of-type {
                    &:after {
                        left: -48px;
                    }
                }
            }

            .checklist-sub-item-wrapper.step-minimised {

                .checklist-sub-item {

                    &:before {
                        top: 18px;
                    }
        
                    .checklist-sub-item-title {
                        padding: 16px 64px 16px 16px;
                        background-position: right 24px center;
                        &:hover, 
                        &:active {
                            background-position: right 15px center !important;
                        }                   

                        h3 {
                            font-size: 18px;
                            line-height: 1.4rem;
                        }

                        .checklist-item-tag {
                            position: absolute;
                            bottom: -24px;
                            right: auto;
                            top: auto;
                            left: 24px;
                            width: 85px;
                            text-align: center;
                            z-index: 200;
                            opacity: 0;
                            transition: opacity .6s ease;
                        }
                    }
                    .checklist-item-checkbox {
                        padding: 8px 16px;

                        label {
                            margin-left: 6px;
                        }
                    }

                    .checklist-item-content {
                        padding: 16px;
                    }
                    &.open { 
                        .checklist-sub-item-title {

                            .checklist-item-tag {
                                opacity: 1;
                            }
                            &:hover, 
                            &:active {
                                background-position: right 15px center !important;
                            }  
                        }
                    }

                    &.tip {
                        .checklist-sub-item-title {
                            &:hover, 
                            &:active {
                                background-position: right 15px center !important;
                            }
                            
                            h3 {
                                padding-left: 24px;

                                span {
                                    height: 22px;
                                    width: 16px;
                                    background-size: 16px 22px;
                                    left: 16px;
                                    top: 18px;
                                }
                            }
                        }


                        .checklist-item-content {
                            padding: 16px;
                        }
                    }
                    &.open {
                        .checklist-sub-item-title {
                            background-position: right 24px center !important;
                        }
                    }
                }
            }

            .checklist-sub-item-wrapper {
                margin-left: 24px; 
            }

            .checklist-sub-item {

                &:before {
                    left: -59px;
                    top: 26px;
                }
                .checklist-sub-item-title {
                    padding-left: 24px !important;
                }
                .checklist-item-content {
                    padding: 16px 24px 24px 24px;

                    h3 {
                        padding-right: 0;
                        width: 100%;
                    }

                    .checklist-item-tag {
                        position: relative;
                        top: auto;
                        right: auto;
                        font-size: 13px;
                        border: solid 2px $blue-primary;
                        border-radius: 20px;
                        padding: 0 16px;
                        margin: 0 0 16px 0;
                        display: inline-block;
                        height: 28px;
                    }
                }
                &.done {
                    &:before {
                        content: url('../assets/checklist-grey-dot-checked.svg');
                        left: -59px;   
                    }
                }
            }

            &.open {
                .checklist-item-title {
                    background-position: right 24px center;
                    padding: 24px 56px 24px 16px; 

                    h2 span {
                        border: 3px solid $blue-primary;
                    }
                }
            }

            &.item-done {
                .checklist-item-title {
                    h2 span {
                        border: 3px solid $green-positive-dark !important;
                    }
                }
            }

            .checklist-item-divider {
                border-top: 2px solid $grey;
                width: calc(100% - 56px);
                margin: 0 0 0 56px;
            }
        }
            
        .checklist-line {
            width: 2px;
            margin: 48px 0 0 8px;
            height: calc(100% - 100px);
        }
            
        .email-box-container {
            border: none;
            padding: 5px;
            height: 60px;
            
            .email-intro {
                display: none;
            }
            #email-btn-wrapper {
                border: 2px solid #F5C550;
                height: 48px;
                background: #FFD964;
                padding: 6px 24px;
                text-align: center;
                width: 100%;
                margin: 0 !important;
                
                .email-btn {
                    line-height: 1.8rem;
                }
            }
        }
        
        #clear-progress {
            display: none;
        }
        
        

        }
    }
}

//Mobile state - lightweight checklist
.example-wrapper.mobile-example,
.example-wrapper.mobile-media-query {
    .checklist-wrapper.lightweight {
       
        .checklist-item {

            .checklist-item-title {
                padding: 16px 52px 16px 16px;
            }
            
             &:last-of-type {
                .checklist-sub-item:last-of-type {
                    &:after {
                        content: " ";
                            height: 100%;
                            width: 5px;
                            position: absolute;
                            z-index: 10;
                            top: -16px;
                            left: -33px;
                    }
                }
            }
            
            .checklist-sub-item-wrapper.step-minimised .checklist-sub-item {
                .checklist-item-content {
                    padding: 16px;

                    .feature-box {
                        padding: 16px;

                        svg {
                            display: none;
                        }

                        .feature-icon {
                            height: auto;
                        }

                        .feature-box-title h3 {
                            padding: 0 !important;
                        }
                    }

                    .inline-pathway-card {
                        padding: 16px;
                    }
                }

                .checklist-item-checkbox {
                    padding: 16px;

                    svg {
                        width: 16px;
                        height: 16px;
                    }

                    svg * {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        .checklist-item-divider {
            margin: 8px 0 8px 64px;
            width: calc(100% - 80px);
        }
    }
}
