.design-system-card.component {

	&.page-pattern {
		.example-wrapper {
			padding: 24px;

			img {
				border: solid 1px $grey;

				&.mobile-example {
					display: none;
				}

				&.desktop-example {
					display: block;
				}

				&.desktop-example-only {
					display: block;
				}
			}

			.example {
				position: relative;

				.spot {
					position: absolute;
					cursor: pointer;

					.spot-subwrapper {
						position: relative;
					}

					a {
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						z-index: 10;
						background: $green-positive-dark;
						color: $white;
						width: 32px;
						height: 32px;
						border-radius: 50%;
						border: solid 2px $white;
						box-shadow: 0 0.125rem 0.375rem 0 rgba(0, 0, 0, 0.3);
						text-align: center;
						line-height: 1.8;
						cursor: pointer;
					}

					p {
						display: inline-block;
						margin-left: 8px;
						min-height: 32px;
						background: darken($green-positive-dark, 20%);
						color: $white;
						padding: 6px 16px 6px 32px;
						border-radius: 15px;
						
						box-shadow: 0 0.125rem 0.375rem 0 rgba(0, 0, 0, 0.3);
						display: none;
                        font-size: 14px;
						font-weight: 400;
                        line-height: 1.3rem;
					}

					&:hover {
						p {
							display: inline-block;
						}
					}
				}

				// HOTSPOT PLACEMENT - DESKTOP

				// Checklist
				&.checklist-container {
					#spot-01 {
						top: 21%;
						left: 4%;
					}

					#spot-02 {
						top: 28.5%;
						left: 4%;
					}

					#spot-03 {
						top: 39.8%;
						left: 2%;
					}

					#spot-04 {
						top: 46%;
						left: 8%;
					}

					#spot-05 {
						top: 52%;
						left: 8%;
					}

					#spot-06 {
						top: 40%;
						left: 69%;
					}
				}

				// Topic page
				&.topic-page-container {
					#spot-01 {
						top: 16.5%;
						left: 4%;
					}

					#spot-02 {
						top: 20.5%;
						left: 4%;
					}

					#spot-03 {
						top: 36%;
                        left: 7%;
					}

					#spot-04 {
						top: 39%;
						left: 7%;
					}
                    #spot-05 {
						top: 69%;
                        left: 5%;
					}

				}

				// Category page
				&.category-page-container {
					#spot-01 {
						top: 23.5%;
						left: 4%;
					}

					#spot-02 {
						top: 29.5%;
						left: 4%;
					}

					#spot-03 {
						top: 42.5%;
						left: 6.5%;
					}

					#spot-04 {
						top: 49%;
						left: 6.5%;
					}

				}

				// Guides page
				&.guides-page-container {
					#spot-01 {
						top: 10.5%;
						left: 5%;
					}

					#spot-02 {
						top: 13.3%;
						left: 5%;
					}

					#spot-03 {
						top: 9.7%;
						left: 61%;
					}

					#spot-04 {
						top: 24.5%;
						left: 7%;
					}

					#spot-05 {
						top: 34.2%;
						left: 7%;
					}

					#spot-06 {
						top: 51%;
						left: 10%;
					}

				}

				// Transaction action page
				&.transaction-action-page-container {
					#spot-01 {
						top: 12.8%;
						left: 4%;
					}

					#spot-02 {
						top: 17.3%;
                        left: 4%;
					}

					#spot-03 {
						top: 24%;
                        left: 15%;
					}

					#spot-04 {
						top: 29%;
                        left: 15%;
					}

					#spot-05 {
						top: 41%;
                        left: 17%;
					}

					#spot-06 {
                        top: 63.5%;
                        left: 17%;
					}

					#spot-07 {
						top: 81.5%;
						left: 15%;
					}

				}
                
                // Tutorial page
				&.tutorial-page-container {
					#spot-01 {
						top: 8.4%;
						left: 4%;
					}

					#spot-02 {
						top: 11.5%;
						left: 4%;
					}

					#spot-03 {
						top: 16.1%;
                        left: 4%;
                        
                        .spot-subwrapper {
                            z-index: 100;
                        }
					}

					#spot-04 {
						top: 16.1%;
                        left: 27.2%;
					}
                    #spot-05 {
						top: 27.4%;
                        left: 29%;
					}

					#spot-06 {
						top: 52.4%;
                        left: 29%;
					}

					#spot-07 {
						top: 59.8%;
                        left: 29%;
					}

					#spot-08 {
						top: 72.8%;
                        left: 29%;
					}
                    #spot-09 {
						top: 84.7%;
                        left: 27.2%;
					}


				}

				// Resource article page
				&.resource-article-page-container {
					#spot-01 {
						top: 12.3%;
						left: 4%;
					}

					#spot-02 {
						top: 16.8%;
						left: 4%;
					}

					#spot-03 {
						top: 23.4%;
                        left: 18%;
					}

					#spot-04 {
						top: 49.7%;
                        left: 15.5%;
					}

					#spot-05 {
						top: 54.5%;
                        left: 15.5%;
					}

					#spot-06 {
						top: 70.5%;
                        left: 15.5%;
					}

					#spot-07 {
						top: 77.8%;
						left: 15.5%;
					}
				}
				
				// 101 page
				&.one-zero-one-page-container {
					#spot-01 {
						top: 8.4%;
						left: 4%;
					}

					#spot-02 {
						top: 11.5%;
						left: 4%;
					}

					#spot-03 {
						top: 16%;
                        left: 4%;
                        
                        .spot-subwrapper {
                            z-index: 100;
                        }
					}

					#spot-04 {
						top: 16%;
                        left: 27.5%;
					}
                    #spot-05 {
						top: 24.5%;
                        left: 29%;
					}

					#spot-06 {
						top: 52.4%;
                        left: 29%;
					}

					#spot-07 {
				        top: 59.8%;
                        left: 29%;
					}

					#spot-08 {
						top: 76.2%;
                        left: 29%;
					}
                    #spot-09 {
						top: 88%;
                        left: 27.5%;
					}


				}

			}

			&.mobile-example {
				img {
					&.mobile-example {
						display: block;
					}

					&.desktop-example {
						display: none;
					}
				}
			}
		}

		.page-pattern-rules {
			padding: 24px;

			.rules-accordion-header {
				display: flex;

				h3 {
					padding: 0;
					margin: 0;
					display: inline-block;
					width: -webkit-calc(100% - 80px);
					width: -moz-calc(100% - 80px);
					width: calc(100% - 80px);
				}

				.rules-accordion-group-toggle {
					.rules-accordion-group-toggle-content {
						display: flex;
						text-align: right;
						width: 80px;
						margin-top: 24px;
						margin-bottom: 6px;
						border-bottom: solid 2px $white;

						&:focus {
							outline: none;
						}

						h5 {
							padding: 0;
							margin: 0;
							color: $grey-darker;
							font-size: 14px;
							margin-top: 3px;
						}

						.chevron {
							margin-left: 8px;
						}

					}

					&:hover {
						cursor: pointer;

						.rules-accordion-group-toggle-content {
							border-bottom: solid 2px $grey-darker;
						}
					}

					&.open {
						.rules-accordion-group-toggle-content .chevron {
							transform: rotate(180deg);

							svg {
								margin-top: -5px;
							}
						}
					}
				}
			}

			.rules-accordion-item {
				border-bottom: solid 1px $grey;

				.rules-accordion-item-tile {
					&:focus {
						outline: none;
					}
				}

				.rules-accordion-item-tile-inner {
					display: flex;
					padding: 16px 5px;
					margin: 0;
					cursor: pointer;

					&:hover {
						background: $grey-lightest;
					}

					h5 {
						display: inline-block;
						width: -webkit-calc(100% - 16px);
						width: -moz-calc(100% - 16px);
						width: calc(100% - 16px);
						padding: 0;
						margin: 0;

						span {
							display: inline-block;
							background: $green-positive-dark;
							color: $white;
							width: 32px;
							height: 32px;
							border-radius: 50%;
							border: solid 2px $white;
							box-shadow: 0 0.125rem 0.375rem 0 rgba(0, 0, 0, 0.3);
							text-align: center;
							line-height: 1.8;
							margin-right: 8px;
						}

						&:hover {
							text-decoration: underline;
						}
					}

					.chevron {
						width: 16px;
					}
				}

				.rules-accordion-item-content {
					padding: 0 32px 0 43px;
					display: none;
					background: $grey-lightest;

					p,
					li {
						padding-bottom: 16px;
					}
				}

				&.open {
					.rules-accordion-item-tile-inner {
						background: $grey-lightest;

						.chevron {
							transform: rotate(180deg);
						}
					}
				}
			}

		}

		@media (max-width: 900px) {
			.example-wrapper .example .spot {
				a {
					width: 28px;
					height: 28px;
					font-size: 13.5px;
				}

				p {
					min-height: 27px;
					font-size: 13.5px;
				}
			}
		}

		@media (max-width: 650px) {
			.example-wrapper {
				img {
					&.mobile-example {
						display: block;
					}

					&.desktop-example {
						display: none;
					}
				}
			}
		}


		// HOTSPOT PLACEMENT - MOBILE

		//Checklist
		.mobile-example .example.checklist-container,
		.mobile-media-query .example.checklist-container {
			#spot-01 {
				top: 5%;
				left: 4%;
			}

			#spot-02 {
				top: 17%;
				left: 4%;
			}

			#spot-03 {
				top: 41.5%;
				left: 0%;
			}

			#spot-04 {
				top: 51.5%;
				left: 18%;
			}

			#spot-05 {
				top: 65%;
				left: 18%;
			}

			#spot-06 {
				top: 93.5%;
				left: 0%;
			}
		}

	}

}
