---
layout: content
title: Accordion
breadcrumb1: Components
url1: topic-components.html
breadcrumb2:
url2:
longdesc: Hide and reveal less important content on the page.

---
<div class="main-section">

	<div class="c-wrapper c-wrapper-bg-transparent container-fluid">
		<div class="row">
			<div class="anchor-col col-12 col-sm-4 col-md-3 col-lg-2 col-xl-3">
				<div>
					<div>
						<div class="anchor-menu">
							<div class="sticky-container">
								<div>
									<h5 class="sticky-list-head">On this page</h5>
									<ul>
										<li><a href="" aria-label="Visual design">Visual design</a></li>
										<li><a href="" aria-label="Guidelines for use">Guidelines for use</a></li>
										<li><a href="" aria-label="Layouts">Layouts</a></li>
										<li><a href="" aria-label="Examples and assets">Examples and assets</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 col-sm-8 col-md-9 col-lg-9 col-xl-9">


				<!-- Visual design -->
				<div class="anchor-section" name="visual-design"><a href="" id="visual-design" aria-label="visual design"></a>

					<div class="c-padding-top">
						<div class="body-copy">
							<div>
								<div class="body-copy-headline">
									<h2 class="no-top-padding">Visual design</h2>
								</div>
								<hr />
							</div>
							<div class="body-copy-content">


								<div class="design-system-card component">

									<div class="responsive-toggle-container">
										<p class="toggle-name">Design view: <label class="switch">
												<input type="checkbox">
												<span class="slider"></span>
												<span class="switch-text-mobile"></span>
												<span class="switch-text-desktop"></span>
											</label></p>

										<div class="mobile-only">
											<h5>Mobile design</h5>
											<p>Desktop designs can be viewed on screens wider than 650px.</p>
										</div>

									</div>


									<div class="design-system-card-content">

										<div class="example-wrapper white-back">
											<div class="example full-width accordion">
												<div class="accordion-container">


													<div role="tablist" class=" accordion-group anchor-section-full-width">
														<div class="accordion-group-toggle">
															<div role="button" tabindex="0" class="accordion-group-toggle-content" aria-controls="accordion-group-1">
																<h5>Open all</h5>
																<div class="BgaIcon iconAnimateWrapper "><svg width="16" height="16">
																		<path fill-rule="evenodd" d="M8 9.028L1.982 3 0 4.986 8 13l8-8.014L14.018 3z"></path>
																	</svg></div><span class="sr-only">button toggle all accordions</span>
															</div>
														</div>
														<div id="accordion-group-1">
															<div class="accordion-item">
																<div class="accordion-item-tile" style="border-bottom:0.0625rem solid #ebebeb;background-color:#ffffff" role="tab" title="Expand" aria-expanded="false" tabindex="0" aria-controls="accordion-1-content">
																	<div class="accordion-item-tile-inner">
																		<div class="accordion-item-tile-inner-title">
																			<h5 class="" id="accordion-1-title">Accordion item 1 title</h5>
																		</div>
																		<div role="none" class="float-button">
																			<div tabindex="-1" class="float-button-content">
																				<div class="BgaIcon iconAnimateWrapper "><svg width="16" height="16">
																						<path fill-rule="evenodd" d="M8 9.028L1.982 3 0 4.986 8 13l8-8.014L14.018 3z"></path>
																					</svg></div>
																			</div>
																		</div>
																	</div>
																	<span class="sr-only">Button toggle current accordion</span>
																</div>
																<div class="accordion-item-content" role="tabpanel" id="accordion-1-content" aria-labelledby="accordion-1-title">
																	<div class="body-copy" aria-label="accordion content">
																		<ul>
																			<li>Accordions can contain lists.</li>
																			<li>Complete with links like other body copy.</li>
																		</ul>
																	</div>

																</div>
																<div class="accordion-item-banner" style="height: 0px; transition: height 0.2s ease 0s;"></div>
															</div>
														</div>
														<div>
															<div class="accordion-item">
																<div class="accordion-item-tile" style="border-bottom:0.0625rem solid #ebebeb;background-color:#ffffff" role="tab" title="Expand" aria-expanded="false" tabindex="0">
																	<div class="accordion-item-tile-inner">
																		<div class="accordion-item-tile-inner-title">
																			<h5 class="">Accordion item 2 title</h5>
																		</div>
																		<div role="none" class="float-button">
																			<div tabindex="-1" class="float-button-content">
																				<div class="BgaIcon  iconAnimateWrapper "><svg width="16" height="16">
																						<path fill-rule="evenodd" d="M8 9.028L1.982 3 0 4.986 8 13l8-8.014L14.018 3z"></path>
																					</svg></div>
																			</div>
																		</div>
																	</div>
																	<span class="sr-only">Button toggle current accordion</span>
																</div>
																<div class="accordion-item-content">

																	<div class="body-copy" aria-label="accordion content">
																		<p>Accordions can be used to hide less important text on the page. The user can choose to see it only if they are interested in it.</p>
																	</div>

																</div>
																<div class="accordion-item-banner" style="height: 0px; transition: height 0.2s ease 0s;"></div>
															</div>
														</div>


													</div>


												</div>
											</div>

										</div>

										<div>

											{% include code-dropdown.html componentName="accordion" %}

										</div>

									</div>

								</div>


							</div>


						</div>

					</div>

				</div>



				<!-- USAGE -->
				<div class="anchor-section" name="guidelines-for-use"><a href="" id="guidelines-for-use" aria-label="guidelines for use"></a>

					<div class="body-copy">
						<div>

							<h2>Guidelines for use</h2>

							<hr />
						</div>
						<div class="body-copy-content">

							<h3>Purpose:</h3>
							<p>An accordion is an expandable section with nested content. This component provides content details when opened by users on a content page. It can help to streamline the user experience by keeping content relevant to the user.</p>
							<h3>When to use this component:</h3>
							<ul>
								<li>For optional content (e.g. frequently asked questions at the end of a transaction page).</li>
								<li>For directory type content (e.g. state and territory links).</li>
								<li>To streamline a transaction process.</li>
							</ul>
							<h3>Content rules:</h3>
							<ul>
								<li>Select &ldquo;open all&rdquo; accordion option if you have 2 or more accordion items.</li>
								<li>Avoid single accordion items, although they are sometimes used on grant application pages to streamline the application process.</li>
								<li>Avoid using bold in accordion body content.</li>
							</ul>

						</div>


					</div>

				</div>


				<!-- LAYOUTS -->
				<div class="anchor-section" name="layouts"><a href="" id="layouts" aria-label="layouts"></a>
					<div>
						<div>



							<div class="body-copy">
								<div>

									<h2>Layouts</h2>

									<hr />
								</div>
								<div class="body-copy-content">


									<h3>Page layouts</h3>
									<p>Accordion components should only be used in <a href={{"foundations/page-layouts.html" | relative_url }}>two-third width pages</a>.</p>

									<h3>Component layout options</h3>
									<h4>Full width layout</h4>
									<div class="layouts">

										<p><strong>Desktop, Tablet &amp; Mobile:</strong> One component in a row.</p>

										<img class="responsive-img desktop" src={{"assets/layout-desktop-full-width.svg" | relative_url}} alt="">

									</div>

								</div>


							</div>


						</div>
					</div>
				</div>



				<!-- EXAMPLES & ASSETS -->
				<div class="anchor-section" name="examples-and-assets"><a href="" id="examples-and-assets" aria-label="Layouts"></a>

					<div class="body-copy">
						<div>

							<h2>Examples and assets</h2>

							<hr />
						</div>
						<div class="body-copy-content">


							<div class="adobe-link vertical-list">

								<div>
									<a class="action-card-anchor" target="blank" href="https://xd.adobe.com/spec/5d0b533a-2924-4fc3-4417-b26a6309bf1e-2b3a/screen/0971fff1-d4c0-4761-9a31-66e686b6fabb/Accordion">
										<div class="action-card-button">
											<div class="action-card-content">
												<p class="vertical-list-fileName">View the accordion design and assets in Adobe XD.</p>
												<div class="action-card-info">
													<div class="BgaIcon  circleIcon-inner"><svg viewBox="0 0 16 16">
															<path d="M14 3.414L7.707 9.707 6.293 8.293 12.586 2H10V0h6v6h-2V3.414zM14 14V9h2v7H0V0h7v2H2v12h12z" fill="#4267b2"></path>
														</svg></div>
													<div class="site-name"><span>ADOBE XD</span></div>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>

							<div class="example-link vertical-list">

								<div>
									<a class="action-card-anchor" target="blank" href="https://www.business.gov.au/planning/new-businesses/preparing-yourself-for-business">
										<div class="action-card-button">
											<div class="action-card-content">
												<p class="vertical-list-fileName">View the accordion component on business.gov.au</p>
												<div class="action-card-info">
													<div class="BgaIcon  circleIcon-inner"><svg viewBox="0 0 16 16">
															<path d="M14 3.414L7.707 9.707 6.293 8.293 12.586 2H10V0h6v6h-2V3.414zM14 14V9h2v7H0V0h7v2H2v12h12z" fill="#4267b2"></path>
														</svg></div>
													<div class="site-name"><span>BUSINESS.GOV.AU</span></div>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>


						</div>


					</div>

				</div>




			</div>

		</div>

	</div>

</div>
